<!-- Rails is going to want you to have a view associated with our brand new index action. create new view called index  -->
<h1>InstaShare</h1>
<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">

          <% if logged_in? %>
          <div class="voting">
      <%= link_to 'Upvote', "/posts/#{post.id}/upvote" %> (<%= post.votes.where({sentiment: 1}).count %>)
      <%= link_to 'Downvote', "/posts/#{post.id}/downvote" %> (<%= post.votes.where({sentiment: -1}).count %>)
          </div>
          <% end %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to image_tag(post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      </div>
      <p class="caption">
        <%= post.caption %>
      </p>
    </div>
  <% end %>
</div>
